*,
body {
  margin: 0;
  padding: 0;
  width: 90%;
  margin: auto;
  font-family: "Times New Roman", Times, serif;
}

.container {
  display: flex;
  flex-wrap: wrap;

  margin-top: 40px;
}
.container h1 {
  padding-bottom: 10px;
  color: orange;
}
.container p {
  color: black;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 10px;
}
.img-instrumentos {
  margin-top: 20px;
  width: 50%;
}
.img-instrumentos img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 2px 6px 3px orange;
}
.texto {
  width: 50%;
  justify-content: center;
  align-items: center;
  text-align: justify;
}
#downloadBtn {
  padding: 10px 20px;
  background-color: orange;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
}
#downloadBtn:hover {
  background-color: rgb(112, 79, 16);
}
.Título,
.Parágrafo,
.img-inst,
#downloadBtn {
  visibility: hidden;
}
.img-instrumentos #img-micrometro {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  box-shadow: 2px 6px 3px green;
}
#titulo-micrometro {
  color: green;
}
#downloadBtn-micrometro {
  padding: 10px 20px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin: auto;
}
#downloadBtn-micrometro:hover {
  background-color: rgb(27, 75, 27);
}
.return-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: orange;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.return-button:hover {
  background-color: rgb(112, 79, 16);
}
.return-button-1 {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  color: #fff;
  background-color: green;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.return-button-1:hover {
  background-color: rgb(27, 75, 27);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(77, 39, 9);
}
@media screen and (max-width: 1100px) {
  .img-instrumentos img {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 2px 6px 3px orange;
  }
  .img-instrumentos #img-micrometro {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    box-shadow: 2px 6px 3px green;
  }
}
@media screen and (max-width: 1000px) {
  .img-instrumentos {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .texto {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: justify;
  }
}
@media screen and (max-width: 600px) {
  .img-instrumentos img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 2px 6px 3px orange;
  }
  .img-instrumentos #img-micrometro {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    box-shadow: 2px 6px 3px green;
  }
}
