*,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
header {
  background-image: url("imagens/Inst.jpeg");
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 30px;
}
header h1 {
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #2f4f4f;
}
.Título {
  visibility: hidden;
}
.Maquinas {
  border-top: 3px solid black;
  padding-top: 30px;
  width: 80%;
  margin: auto;

  display: flex;
}
.Parágrafo {
  visibility: hidden;
}
.Maquinas h1 {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: #2f4f4f;
  visibility: hidden;
}
.Maquinas p {
  width: 80%;
  margin: auto;
  align-items: center;
  text-align: justify;
  color: black;
  font-size: 18px;
  margin: 20px 0 20px 0;
}

.Maquinas .textos-maquinas {
  width: 60%;
  margin: 20px 0 20px 0;
}
.Maquinas .img-maquinas {
  display: flex;
  width: 40%;
  margin-right: 10px;
}
.Maquinas .img-maquinas img {
  width: 500px;
  height: 500px;
  border-radius: 50%;
  box-shadow: 2px 6px 3px cadetblue;
}

.Instrumentos {
  padding-top: 30px;
  border-top: 3px solid black;
  width: 80%;
  margin: auto;
  margin-bottom: 40px;
}
.Instrumentos h1 {
  color: #2f4f4f;
  font-size: 30px;
  padding-bottom: 10px;
}

.Instrumentos .Containerbloco {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 20px 10px 40px;
}
.Instrumentos .blocos {
  width: 25%;
  padding-top: 20px;
}
.Instrumentos .blocos figcaption {
  color: #2f4f4f;
}
#manual {
  color: #2f4f4f;
  padding-left: 25px;
}
#manual:hover {
  color: #f08080;
  transition: 500ms;
}
.Instrumentos .blocos figcaption:hover {
  color: #f08080;
  transition: 500ms;
}

.rodape {
  padding-top: 10px;
  border-top: 3px solid black;
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;

  overflow: hidden;
}
.rodape-1 {
  width: 40%;
  padding: 10px 0 10px 0;
}
.rodape-2 {
  width: 40%;
  padding: 10px 0 10px 0;
}

.video-container {
  width: 20%;
  padding: 10px 0 10px 0;
}

.video-container video {
  background-size: cover;
  width: 120px;
  height: 150px;
  padding: 10px 0 10px 0;
}
.rodape h1 p {
  text-align: center;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
.rodape p:hover {
  color: #0a37b3;

  transition: 1s;
}
.rodape h1 {
  padding-bottom: 20px;
  color: #2f4f4f;
}
.rodape p {
  padding-left: 20px;
}
.licença {
  border-top: 3px solid #0a37b3;
  width: 80%;
  margin: auto;
  text-align: center;
  font-size: 16px;
  padding: 10px 0 10px 0;
}
.licença a {
  color: #0a37b3;
}
.licença img {
  width: 20px;
  padding: 0 10px 0 10px;
}
.img-maqui,
.img-inst {
  visibility: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: cadetblue;
}
@media screen and (max-width: 1400px) {
  .Maquinas .img-maquinas img {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    box-shadow: 2px 6px 3px cadetblue;
  }
}
@media screen and (max-width: 1200px) {
  .Maquinas {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .Maquinas p {
    text-align: center;
    width: 100%;
  }
  .Maquinas .textos-maquinas {
    width: 100%;
    margin: 20px 0 20px 0;
  }
  .Maquinas .img-maquinas {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  .Instrumentos .Containerbloco {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 20px 10px 40px;
  }
  .Instrumentos .blocos {
    width: 25%;
    padding-top: 20px;
    margin-right: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  #manual {
    padding-left: 1px;
  }
}

@media screen and (max-width: 650px) {
  .Maquinas .img-maquinas img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 2px 6px 3px cadetblue;
  }
}
@media screen and (max-width: 525px) {
  .Instrumentos .blocos {
    width: 40%;
    padding-top: 20px;

    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .rodape-1 {
    width: 50%;
  }

  .rodape-2 {
    width: 50%;
  }
  .video-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
@media screen and (max-width: 425px) {
  .rodape-1 {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .rodape-2 {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .video-container {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
